<div class="card container">
  <div class="card-body">
    <!-- taskForm is an object that contains the form data that gets passed to the onAddTask() method for object manipulation. It is then passed to the taskList service. -->
    <form #taskForm="ngForm" (ngSubmit)="onAddTask(taskForm)">
      <div class="form-group">
        <input type="text" placeholder="task name" name="taskName" ngModel />
        <input type="text" placeholder="due date" name="dueDate" ngModel />
      </div>

      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    <app-task-item
      [task]="task"
      (completedTask)="onCompleteTask($event)"
      *ngFor="let task of taskList"
    ></app-task-item>
  </div>
</div>
