<div class="card container">
  <div class="card-body">
    <!-- taskForm is an object that contains the form data that gets passed to the onAddTask() method for object manipulation. It is then passed to the taskList service. -->
    <form class="row g-3" #taskForm="ngForm" (ngSubmit)="onAddTask(taskForm)">
      <div class="col-auto">
        <input
          class="form-control"
          type="text"
          placeholder="task name"
          name="taskName"
          ngModel
          required
        />
      </div>
      <div class="col-auto">
        <input
          class="form-control"
          type="text"
          placeholder="due date"
          name="dueDate"
          ngModel
          required
        />
      </div>
      <div class="col-auto">
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!taskForm.valid"
        >
          Submit
        </button>
      </div>
    </form>
    <app-task-item
      [task]="task"
      (completedTask)="onCompleteTask($event)"
      *ngFor="let task of taskList"
    ></app-task-item>
  </div>
</div>
